Jordan King

## Research question/interestsI want to examine the point distributions through the years and evaluate the impact that nationality may have on scores..

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [60]:
f1data = pd.read_csv("../f1data.csv")

In [6]:
f1data

,Pos,Driver,Nationality,Car,PTS,Year
0,1,Nino Farina FAR,ITA,Alfa Romeo,30.0,1950
1,2,Juan Manuel Fangio FAN,ARG,Alfa Romeo,27.0,1950
2,3,Luigi Fagioli FAG,ITA,Alfa Romeo,24.0,1950
3,4,Louis Rosier ROS,FRA,Talbot-Lago,13.0,1950
4,5,Alberto Ascari ASC,ITA,Ferrari,11.0,1950
...,...,...,...,...,...,...
1568,17,Kevin Magnussen MAG,DEN,Haas Ferrari,1.0,2020
1569,18,Kimi RÃ¤ikkÃ¶nen RAI,FIN,Alfa Romeo Racing Ferrari,0.0,2020
1570,19,Nicholas Latifi LAT,CAN,Williams Mercedes,0.0,2020
1571,20,George Russell RUS,GBR,Williams Mercedes,0.0,2020
1572,21,Romain Grosjean GRO,FRA,Haas Ferrari,0.0,2020

In [6]:
## Milestone 3, Task 1

In [5]:
f1data.shape

(1573, 6)

In [ ]:
# This lets me know that our data has 1573 rows of data with 6 keys.

In [61]:
f1data.rename(columns={"Car": "Team", "Pos": "Position"}, inplace=True)

f1data

,Position,Driver,Nationality,Team,PTS,Year
0,1,Nino Farina FAR,ITA,Alfa Romeo,30.0,1950
1,2,Juan Manuel Fangio FAN,ARG,Alfa Romeo,27.0,1950
2,3,Luigi Fagioli FAG,ITA,Alfa Romeo,24.0,1950
3,4,Louis Rosier ROS,FRA,Talbot-Lago,13.0,1950
4,5,Alberto Ascari ASC,ITA,Ferrari,11.0,1950
...,...,...,...,...,...,...
1568,17,Kevin Magnussen MAG,DEN,Haas Ferrari,1.0,2020
1569,18,Kimi RÃ¤ikkÃ¶nen RAI,FIN,Alfa Romeo Racing Ferrari,0.0,2020
1570,19,Nicholas Latifi LAT,CAN,Williams Mercedes,0.0,2020
1571,20,George Russell RUS,GBR,Williams Mercedes,0.0,2020
1572,21,Romain Grosjean GRO,FRA,Haas Ferrari,0.0,2020

In [65]:
def checking_for_null_values(df):
    if f1data.isnull().any(axis=None):
        print("\nPreview of data with null values:\n")
        print(f1data[f1data.isnull().any(axis=1)])
        plt.show()

def replace_null_values(df):
    f1data["Team"].fillna("Independant", inplace=True)

checking_for_null_values(f1data)
replace_null_values(f1data)

f1data.loc[16,:]

Position                        13
Driver         Dorino Serafini SER
Nationality                    ITA
Team                   Independant
PTS                            3.0
Year                          1950
Name: 16, dtype: object

In [ ]:
# Checking dataframe for missing values. Since all missing values exist under team, we can complete this data by replacing NaN with "Independant" and then checking that this worked.

NameError: name 'f1new' is not defined

In [ ]:
## Milestone 3, Task 2